<div class="flex m-4 border rounded items-stretch antialiased font-sans text-gray-800" id="js-store-container">
  <div class="w-3/4 p-4 h-96">
    ...
  </div>
  <div class="w-1/4 bg-blue-100 p-4">
    ...
  </div>
</div>